<div>
  <h4>{{name}}</h4>
  <p>{{level}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <a class="btn btn-primary" href="#" role="button">Connect</a>
</div>