  {{#if matchedLearnObj}}
<div class="row">
  <div class="col-auto">
    <h2>Here are your matches!</h2>
  </div>
</div>



<div class="row mt-5">
  <div class="col-md-6">
    <h4 class="pb-2">You can learn from the below users:</h4>



    {{#each matchedLearnObj as |learn|}}

    <div class="border p-3 mb-4">
      <div>
        <h2>
          <a href="/teach/{{learn.id}}">{{learn.name}}</a>
        </h2>
        <p>Created by {{learn.user.name}}</p>
      </div>
      <div>
        <p>{{learn.description}}</p>
        <button type="button" class="btn btn-primary" href="/teach/{{learn.id}}">Contact</button>
      </div>
    </div>
    {{/each}}
  </div>
  
  
  <div class="col-md-6">
    <h4 class="pb-2">You can teach the below users:</h4>

    {{#each matchedTeachObj as |learn|}}

    <div class="border p-3 mb-4">
      <div>
        <h2>
          <a href="/teach/{{learn.id}}">{{learn.name}}</a>
        </h2>
        <p>Created by {{learn.user.name}}</p>
      </div>
      <div>
        <p>
          {{learn.description}}
        </p>
        <button type="button" class="btn btn-primary" href="/teach/{{learn.id}}">Contact</button>
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{else}}
          <h4 class="pb-2">You don't have teachs or learns. please register first.</h4>
{{/if}}