{{#each matchedLearnObj as |learn|}}
<p> =================logined user can learn data=================================== </p> <!-- needed to be deleted after design done -->
<div>
  <div>
    <h2>
      <a href="/teach/{{learn.id}}">{{learn.name}}</a>
    </h2>
    <p>Created by {{learn.user.name}}</p>
  </div>
  <div>
    <p>
      {{learn.description}}
    </p>
  </div>
</div>
{{/each}}

<p> ===================logined user can teach data================================================== </p> <!-- needed to be deleted after design done -->
{{#each matchedTeachObj as |learn|}}

<div>
  <div>
    <h2>
      <a href="/teach/{{learn.id}}">{{learn.name}}</a>
    </h2>
    <p>Created by {{learn.user.name}}</p>
  </div>
  <div>
    <p>
      {{learn.description}}
    </p>
  </div>
</div>
{{/each}}


